
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 186 51% 60%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 5.9% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 173 58% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 173 58% 39%;
    --chart-1: 186 51% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 210 20% 96%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 173 58% 39%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: hsl(var(--accent));
    --sidebar-accent-foreground: hsl(var(--accent-foreground));
    --sidebar-border: 210 10% 85%;
    --sidebar-ring: 173 58% 39%;
    --radius: 0.5rem; /* Default medium radius */
    --radius-none: 0rem;
    --radius-low: 0.25rem;
    --radius-medium: 0.5rem;
    --radius-high: 1rem;
  }

  .radius-none {
      --radius: var(--radius-none);
  }
  .radius-low {
      --radius: var(--radius-low);
  }
  .radius-medium {
      --radius: var(--radius-medium);
  }
  .radius-high {
      --radius: var(--radius-high);
  }

  .dark {
    --background: 240 5% 15%;
    --foreground: 0 0% 98%;
    --card: 240 5% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 186 51% 60%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 173 58% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 173 58% 39%;
    --chart-1: 186 51% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 173 58% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: hsl(var(--accent));
    --sidebar-accent-foreground: hsl(var(--accent-foreground));
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 173 58% 39%;
  }

  .black {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 186 51% 60%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 173 58% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 173 58% 39%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 173 58% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: hsl(var(--accent));
    --sidebar-accent-foreground: hsl(var(--accent-foreground));
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 173 58% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    font-weight: 400;
    overflow-y: scroll;
    transition: background-color 300ms ease, color 300ms ease;
  }
   /* Apply smooth transitions to common elements */
  div,
  header,
  aside,
  main,
  section,
  button,
  input,
  textarea,
  a {
    transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  }

  /* Exclude specific interactive elements from having a transition on their own properties to avoid conflicts */
  button:not(:hover),
  a:not(:hover) {
    transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  }
}

@layer utilities {
    .is-dragging > section[draggable="true"] {
        @apply mb-4;
    }
    .is-dragging-section > section[draggable="true"] {
        @apply my-8;
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px;
        transition: background 300ms ease-in-out;
    }
    .custom-scrollbar:hover::-webkit-scrollbar-thumb {
        background: hsl(var(--muted));
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: hsl(var(--muted-foreground) / 0.7);
    }
}

/* NProgress styles */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: hsl(var(--primary));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary));
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: none;
}
